<script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
            <script type="text/javascript">
              MRP.insert({
              'url':'http://stream.revma.ihrhls.com/zc1473?iheartradioversion=rds_1.0.1&clienttype=radio.dns&devicename=radio.dns&streamid=1473&terminalid=522&init_id=8169&fb_broadcast=false',
              'lang':'en',
              'codec':'mp3',
              'volume':10,
              'autoplay':true,
              'forceHTML5':true,
              'jsevents':true,
              'buffering':0,
              'title':'',
              'welcome':'',
              'wmode':'transparent',
              'skin':'rb1',
              'width':250,
              'height':70
              });
            </script>